# Project files
*.bac
my.mk
.timetracker/
test_timetracker.csv
start_timetracker_*.txt
timetracker_*.csv

# Temporary test files
.timetracker_start

# Build files
/build/
/timetracker_csv.egg-info/
/dist/

# Python
__pycache__

# Linux
tmp*
