[project]
name = "timetracker-csv"
version = "0.3a7"
dynamic = [
    "dependencies",
    "scripts",
    "classifiers",
    "authors",
    "readme",
    "description",
    "keywords",
    "requires-python",
]

[project.urls]
Homepage = "https://github.com/dvklopfenstein/timetracker"
Issues = "https://github.com/dvklopfenstein/timetracker/issues"

