[project]
name = "timetracker-csv"
version = "0.5a1"
dynamic = [
    "dependencies",
    "scripts",
    "classifiers",
    "authors",
    "readme",
    "description",
    "keywords",
    "requires-python",
]

[project.urls]
Homepage = "https://github.com/dvklopfenstein/timetracker"
Issues = "https://github.com/dvklopfenstein/timetracker/issues"

[tool.pytest.ini_options]
addopts = "--ignore=tests/test_cmd_projects_judith.py"

[tool.coverage.run]
source = [
    "timetracker",
    ]
omit = [
    "tests/test_cmd_projects_judith.py",
    ]
