[project]
name = "timetracker-csv"
version = "0.2a5"
dynamic = [
    "dependencies",
    "scripts",
    "classifiers",
    "authors",
    "readme",
    "description",
]

[project.urls]
Homepage = "https://github.com/dvklopfenstein/timetracker"
Issues = "https://github.com/dvklopfenstein/timetracker/issues"

