[project]
name = "timetracker-csv"
version = "0.1a6"
authors = [
  { name="DV Klopfenstein, PhD", email="dvklopfenstein@protonmail.com" },
]
description = "Track your time on your own terms"
readme = "README.md"
requires-python = ">=3.6"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
license = "AGPL3"
license-files = ["LICENSE"]

[project.urls]
Homepage = "https://github.com/dvklopfenstein/timetracker"
Issues = "https://github.com/dvklopfenstein/timetracker/issues"
